@model INTEXII_App.Models.Burial

@{
    ViewData["Title"] = "Edit";
}

<divHeader>

    <link href="~/DetailPage/TabsStyles.css" rel="stylesheet" />

</divHeader>

<h1>Edit</h1>

<h4>Burial</h4>
<hr />

<form asp-action="Edit">
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
    <div class="tabset">
        <!-- Tab 1 -->
        <input type="radio" name="tabset" id="tab1" aria-controls="General" checked>
        <label for="tab1">General</label>
        <!-- Tab 2 -->
        <input type="radio" name="tabset" id="tab2" aria-controls="BodyBone">
        <label for="tab2">Body Bone Info</label>
        <!-- Tab 3 -->
        <input type="radio" name="tabset" id="tab3" aria-controls="Cranial">
        <label for="tab3">Cranial</label>
        <!-- Tab 4 -->
        <input type="radio" name="tabset" id="tab4" aria-controls="misc">
        <label for="tab4">Misc</label>
        <!-- Tab 5 -->
        <input type="radio" name="tabset" id="tab5" aria-controls="notes">
        <label for="tab5">Notes</label>

        <div class="tab-panels">
            <section id="General" class="tab-panel">
                <h2>General Info</h2>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="BurialId" />
                
                <div class="form-group">
                    <label asp-for="SquareId" class="control-label"></label>
                    <select asp-for="SquareId" class="form-control" asp-items="ViewBag.SquareId"></select>
                    <span asp-validation-for="SquareId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AreaId" class="control-label"></label>
                    <select asp-for="AreaId" class="form-control" asp-items="ViewBag.AreaId"></select>
                    <span asp-validation-for="AreaId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BurialNumber" class="control-label"></label>
                    <input asp-for="BurialNumber" class="form-control" />
                    <span asp-validation-for="BurialNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SouthToHead" class="control-label"></label>
                    <input asp-for="SouthToHead" class="form-control" />
                    <span asp-validation-for="SouthToHead" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SouthToFeet" class="control-label"></label>
                    <input asp-for="SouthToFeet" class="form-control" />
                    <span asp-validation-for="SouthToFeet" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="WestToHead" class="control-label"></label>
                    <input asp-for="WestToHead" class="form-control" />
                    <span asp-validation-for="WestToHead" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="WestToFeet" class="control-label"></label>
                    <input asp-for="WestToFeet" class="form-control" />
                    <span asp-validation-for="WestToFeet" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Length" class="control-label"></label>
                    <input asp-for="Length" class="form-control" />
                    <span asp-validation-for="Length" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Depth" class="control-label"></label>
                    <input asp-for="Depth" class="form-control" />
                    <span asp-validation-for="Depth" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="PhotoTaken" /> @Html.DisplayNameFor(model => model.PhotoTaken)
                    </label>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="BurialGoods" /> @Html.DisplayNameFor(model => model.BurialGoods)
                    </label>
                </div>
                <div class="form-group">
                    <label asp-for="DateFound" class="control-label"></label>
                    <input asp-for="DateFound" class="form-control" />
                    <span asp-validation-for="DateFound" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ClusterNumber" class="control-label"></label>
                    <input asp-for="ClusterNumber" class="form-control" />
                    <span asp-validation-for="ClusterNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SampleNumber" class="control-label"></label>
                    <input asp-for="SampleNumber" class="form-control" />
                    <span asp-validation-for="SampleNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Rack" class="control-label"></label>
                    <input asp-for="Rack" class="form-control" />
                    <span asp-validation-for="Rack" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Shelf" class="control-label"></label>
                    <input asp-for="Shelf" class="form-control" />
                    <span asp-validation-for="Shelf" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Bag" class="control-label"></label>
                    <input asp-for="Bag" class="form-control" />
                    <span asp-validation-for="Bag" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PreviouslySampled" class="control-label"></label>
                    <input asp-for="PreviouslySampled" class="form-control" />
                    <span asp-validation-for="PreviouslySampled" class="text-danger"></span>
                </div>
            </section>
            <section id="BodyBone" class="tab-panel">
                <h2>Body Bone Info</h2>
                <div class="form-group">
                    <label asp-for="SexBody" class="control-label"></label>
                    <input asp-for="SexBody" class="form-control" />
                    <span asp-validation-for="SexBody" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SexGiles" class="control-label"></label>
                    <input asp-for="SexGiles" class="form-control" />
                    <span asp-validation-for="SexGiles" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="GeFunctionTotal" class="control-label"></label>
                    <input asp-for="GeFunctionTotal" class="form-control" />
                    <span asp-validation-for="GeFunctionTotal" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="BasilarSuture" class="control-label"></label>
                    <input asp-for="BasilarSuture" class="form-control" />
                    <span asp-validation-for="BasilarSuture" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="VentralArc" class="control-label"></label>
                    <input asp-for="VentralArc" class="form-control" />
                    <span asp-validation-for="VentralArc" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SubPubicAngle" class="control-label"></label>
                    <input asp-for="SubPubicAngle" class="form-control" />
                    <span asp-validation-for="SubPubicAngle" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SciaticNotch" class="control-label"></label>
                    <input asp-for="SciaticNotch" class="form-control" />
                    <span asp-validation-for="SciaticNotch" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PubicBone" class="control-label"></label>
                    <input asp-for="PubicBone" class="form-control" />
                    <span asp-validation-for="PubicBone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PreaurSulcus" class="control-label"></label>
                    <input asp-for="PreaurSulcus" class="form-control" />
                    <span asp-validation-for="PreaurSulcus" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MedialIpramus" class="control-label"></label>
                    <input asp-for="MedialIpramus" class="form-control" />
                    <span asp-validation-for="MedialIpramus" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DorsalPitting" class="control-label"></label>
                    <input asp-for="DorsalPitting" class="form-control" />
                    <span asp-validation-for="DorsalPitting" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ForemanMagnum" class="control-label"></label>
                    <input asp-for="ForemanMagnum" class="form-control" />
                    <span asp-validation-for="ForemanMagnum" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FemurHead" class="control-label"></label>
                    <input asp-for="FemurHead" class="form-control" />
                    <span asp-validation-for="FemurHead" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="HumerusHead" class="control-label"></label>
                    <input asp-for="HumerusHead" class="form-control" />
                    <span asp-validation-for="HumerusHead" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Osteophytosis" class="control-label"></label>
                    <input asp-for="Osteophytosis" class="form-control" />
                    <span asp-validation-for="Osteophytosis" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PubicSymphysis" class="control-label"></label>
                    <input asp-for="PubicSymphysis" class="form-control" />
                    <span asp-validation-for="PubicSymphysis" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BoneLength" class="control-label"></label>
                    <input asp-for="BoneLength" class="form-control" />
                    <span asp-validation-for="BoneLength" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MedialClavicle" class="control-label"></label>
                    <input asp-for="MedialClavicle" class="form-control" />
                    <span asp-validation-for="MedialClavicle" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IliacCrest" class="control-label"></label>
                    <input asp-for="IliacCrest" class="form-control" />
                    <span asp-validation-for="IliacCrest" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FemurDiameter" class="control-label"></label>
                    <input asp-for="FemurDiameter" class="form-control" />
                    <span asp-validation-for="FemurDiameter" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Humerus" class="control-label"></label>
                    <input asp-for="Humerus" class="form-control" />
                    <span asp-validation-for="Humerus" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FemurLength" class="control-label"></label>
                    <input asp-for="FemurLength" class="form-control" />
                    <span asp-validation-for="FemurLength" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="HumerusLength" class="control-label"></label>
                    <input asp-for="HumerusLength" class="form-control" />
                    <span asp-validation-for="HumerusLength" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TibiaLength" class="control-label"></label>
                    <input asp-for="TibiaLength" class="form-control" />
                    <span asp-validation-for="TibiaLength" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Robust" class="control-label"></label>
                    <input asp-for="Robust" class="form-control" />
                    <span asp-validation-for="Robust" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SupraorbitalRidges" class="control-label"></label>
                    <input asp-for="SupraorbitalRidges" class="form-control" />
                    <span asp-validation-for="SupraorbitalRidges" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="OrbitEdge" class="control-label"></label>
                    <input asp-for="OrbitEdge" class="form-control" />
                    <span asp-validation-for="OrbitEdge" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ParietalBossing" class="control-label"></label>
                    <input asp-for="ParietalBossing" class="form-control" />
                    <span asp-validation-for="ParietalBossing" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Gonian" class="control-label"></label>
                    <input asp-for="Gonian" class="form-control" />
                    <span asp-validation-for="Gonian" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NuchalCrest" class="control-label"></label>
                    <input asp-for="NuchalCrest" class="form-control" />
                    <span asp-validation-for="NuchalCrest" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ZygomaticCrest" class="control-label"></label>
                    <input asp-for="ZygomaticCrest" class="form-control" />
                    <span asp-validation-for="ZygomaticCrest" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CranialSuture" class="control-label"></label>
                    <input asp-for="CranialSuture" class="form-control" />
                    <span asp-validation-for="CranialSuture" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="BasionBregmaHeight" class="control-label"></label>
                    <input asp-for="BasionBregmaHeight" class="form-control" />
                    <span asp-validation-for="BasionBregmaHeight" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BasionNasion" class="control-label"></label>
                    <input asp-for="BasionNasion" class="form-control" />
                    <span asp-validation-for="BasionNasion" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BasionProsthionLength" class="control-label"></label>
                    <input asp-for="BasionProsthionLength" class="form-control" />
                    <span asp-validation-for="BasionProsthionLength" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BizygomaticDiameter" class="control-label"></label>
                    <input asp-for="BizygomaticDiameter" class="form-control" />
                    <span asp-validation-for="BizygomaticDiameter" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NasionProsthion" class="control-label"></label>
                    <input asp-for="NasionProsthion" class="form-control" />
                    <span asp-validation-for="NasionProsthion" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MaximumNasalBreadth" class="control-label"></label>
                    <input asp-for="MaximumNasalBreadth" class="form-control" />
                    <span asp-validation-for="MaximumNasalBreadth" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DecimalerorbitalBreadth" class="control-label"></label>
                    <input asp-for="DecimalerorbitalBreadth" class="form-control" />
                    <span asp-validation-for="DecimalerorbitalBreadth" class="text-danger"></span>
                </div>
            </section>
            <section id="Cranial" class="tab-panel">
                <h2>Cranial Info</h2>
                <div class="form-group">
                    <label asp-for="ToothAttrition" class="control-label"></label>
                    <input asp-for="ToothAttrition" class="form-control" />
                    <span asp-validation-for="ToothAttrition" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ToothEruption" class="control-label"></label>
                    <input asp-for="ToothEruption" class="form-control" />
                    <span asp-validation-for="ToothEruption" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PathologyAnomalies" class="control-label"></label>
                    <input asp-for="PathologyAnomalies" class="form-control" />
                    <span asp-validation-for="PathologyAnomalies" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EpiphysealUnion" class="control-label"></label>
                    <input asp-for="EpiphysealUnion" class="form-control" />
                    <span asp-validation-for="EpiphysealUnion" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="HeadDirection" class="control-label"></label>
                    <input asp-for="HeadDirection" class="form-control" />
                    <span asp-validation-for="HeadDirection" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Byusample" class="control-label"></label>
                    <input asp-for="Byusample" class="form-control" />
                    <span asp-validation-for="Byusample" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BodyAnalysisYear" class="control-label"></label>
                    <input asp-for="BodyAnalysisYear" class="form-control" />
                    <span asp-validation-for="BodyAnalysisYear" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SkullAtMagazine" class="control-label"></label>
                    <input asp-for="SkullAtMagazine" class="form-control" />
                    <span asp-validation-for="SkullAtMagazine" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PostcraniaAtMagazine" class="control-label"></label>
                    <input asp-for="PostcraniaAtMagazine" class="form-control" />
                    <span asp-validation-for="PostcraniaAtMagazine" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ToBeConfirmed" class="control-label"></label>
                    <input asp-for="ToBeConfirmed" class="form-control" />
                    <span asp-validation-for="ToBeConfirmed" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SkullTrauma" class="control-label"></label>
                    <input asp-for="SkullTrauma" class="form-control" />
                    <span asp-validation-for="SkullTrauma" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PostcraniaTrauma" class="control-label"></label>
                    <input asp-for="PostcraniaTrauma" class="form-control" />
                    <span asp-validation-for="PostcraniaTrauma" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CribiaOrbitala" class="control-label"></label>
                    <input asp-for="CribiaOrbitala" class="form-control" />
                    <span asp-validation-for="CribiaOrbitala" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PoroticHyperotosis" class="control-label"></label>
                    <input asp-for="PoroticHyperotosis" class="form-control" />
                    <span asp-validation-for="PoroticHyperotosis" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PoroticHyperotosisLocations" class="control-label"></label>
                    <input asp-for="PoroticHyperotosisLocations" class="form-control" />
                    <span asp-validation-for="PoroticHyperotosisLocations" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MetopicSuture" class="control-label"></label>
                    <input asp-for="MetopicSuture" class="form-control" />
                    <span asp-validation-for="MetopicSuture" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ButtonOsteoma" class="control-label"></label>
                    <input asp-for="ButtonOsteoma" class="form-control" />
                    <span asp-validation-for="ButtonOsteoma" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="OsteologyUnknownComment" class="control-label"></label>
                    <input asp-for="OsteologyUnknownComment" class="form-control" />
                    <span asp-validation-for="OsteologyUnknownComment" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TmjOa" class="control-label"></label>
                    <input asp-for="TmjOa" class="form-control" />
                    <span asp-validation-for="TmjOa" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LinearHypoplasiaEnamel" class="control-label"></label>
                    <input asp-for="LinearHypoplasiaEnamel" class="form-control" />
                    <span asp-validation-for="LinearHypoplasiaEnamel" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MaximumCranialLength" class="control-label"></label>
                    <input asp-for="MaximumCranialLength" class="form-control" />
                    <span asp-validation-for="MaximumCranialLength" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MaximumCranialBreadth" class="control-label"></label>
                    <input asp-for="MaximumCranialBreadth" class="form-control" />
                    <span asp-validation-for="MaximumCranialBreadth" class="text-danger"></span>
                </div>
            </section>
            <section id="misc" class="tab-panel">
                <h2>Miscellaneous Info</h2>
                <div class="form-group">
                    <label asp-for="HairColor" class="control-label"></label>
                    <input asp-for="HairColor" class="form-control" />
                    <span asp-validation-for="HairColor" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PreservationIndex" class="control-label"></label>
                    <input asp-for="PreservationIndex" class="form-control" />
                    <span asp-validation-for="PreservationIndex" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="HairTaken" class="control-label"></label>
                    <input asp-for="HairTaken" class="form-control" />
                    <span asp-validation-for="HairTaken" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SoftTissueTaken" class="control-label"></label>
                    <input asp-for="SoftTissueTaken" class="form-control" />
                    <span asp-validation-for="SoftTissueTaken" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BoneTaken" class="control-label"></label>
                    <input asp-for="BoneTaken" class="form-control" />
                    <span asp-validation-for="BoneTaken" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ToothTaken" class="control-label"></label>
                    <input asp-for="ToothTaken" class="form-control" />
                    <span asp-validation-for="ToothTaken" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TextileTaken" class="control-label"></label>
                    <input asp-for="TextileTaken" class="form-control" />
                    <span asp-validation-for="TextileTaken" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DescriptionOfTaken" class="control-label"></label>
                    <input asp-for="DescriptionOfTaken" class="form-control" />
                    <span asp-validation-for="DescriptionOfTaken" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ArtifactFound" class="control-label"></label>
                    <input asp-for="ArtifactFound" class="form-control" />
                    <span asp-validation-for="ArtifactFound" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EstimatedAge" class="control-label"></label>
                    <input asp-for="EstimatedAge" class="form-control" />
                    <span asp-validation-for="EstimatedAge" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AgeMethod" class="control-label"></label>
                    <input asp-for="AgeMethod" class="form-control" />
                    <span asp-validation-for="AgeMethod" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EstimateLivingStature" class="control-label"></label>
                    <input asp-for="EstimateLivingStature" class="form-control" />
                    <span asp-validation-for="EstimateLivingStature" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="AreaHillBurials" class="control-label"></label>
                    <input asp-for="AreaHillBurials" class="form-control" />
                    <span asp-validation-for="AreaHillBurials" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Tomb" class="control-label"></label>
                    <input asp-for="Tomb" class="form-control" />
                    <span asp-validation-for="Tomb" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BurialPreservation" class="control-label"></label>
                    <input asp-for="BurialPreservation" class="form-control" />
                    <span asp-validation-for="BurialPreservation" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BurialWrapping" class="control-label"></label>
                    <input asp-for="BurialWrapping" class="form-control" />
                    <span asp-validation-for="BurialWrapping" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BurialAdultChild" class="control-label"></label>
                    <input asp-for="BurialAdultChild" class="form-control" />
                    <span asp-validation-for="BurialAdultChild" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="GenderCode" class="control-label"></label>
                    <input asp-for="GenderCode" class="form-control" />
                    <span asp-validation-for="GenderCode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BurialGenderMethod" class="control-label"></label>
                    <input asp-for="BurialGenderMethod" class="form-control" />
                    <span asp-validation-for="BurialGenderMethod" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AgeCodeSingle" class="control-label"></label>
                    <input asp-for="AgeCodeSingle" class="form-control" />
                    <span asp-validation-for="AgeCodeSingle" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FaceBundle" class="control-label"></label>
                    <input asp-for="FaceBundle" class="form-control" />
                    <span asp-validation-for="FaceBundle" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DateOnSkull" class="control-label"></label>
                    <input asp-for="DateOnSkull" class="form-control" />
                    <span asp-validation-for="DateOnSkull" class="text-danger"></span>
                </div>

            </section>
            <section id="notes" class="tab-panel">
                <h2>Notes</h2>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea rows="10" asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

            </section>
        
        
        </div>

    </div>
</form>


<a class="btn btn-primary"
   style="        position: fixed;
        right: 2rem;
        bottom: 2rem;
        z-index: 100;
"
   asp-controller="Burial"
   asp-action="Index">Back to List</a>
    


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
