@model IEnumerable<INTEXII_App.Models.Image>

@{
    ViewData["Title"] = "Index";
}


<div class="container">

    <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">Excavation Images</h1>

    <hr class="mt-2 mb-5">

    <div class="row text-center text-lg-left">

        @foreach (Image x in Model)
        {
            <div class="col-lg-3 col-md-4 col-6">
                <a asp-action="Details" asp-route-id="@x.BurialId" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="@Html.DisplayFor(modelItem => x.ImagePodecimaler)" alt="">
                </a>
            </div>
        }

    </div>

</div>
