@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!-- Header -->
<header class="bg-secondary text-center py-5 mb-4">
    <div class="container">
        <h1 class="font-weight-light text-white">Behind the Project</h1>
    </div>
</header>

<!-- Page Content -->
<div class="container">
    <div class="row">
        <!-- Team Member 1 -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img width="339" src="~/AboutPage/img/photo1.png" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">Professor, Director BYU Egypt Excavation Project</h5>
                    <div class="card-text text-black-50">
                        Ancient Scripture
                        <br />
                        <a href="https://religion.byu.edu/sites/default/files/vitae/Kerry_Muhlestein_CV_2021.pdf">Curriculum Vitae</a>



                    </div>
                </div>
            </div>
        </div>
        <!-- Team Member 2 -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img src="~/AboutPage/img/photo3.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">Assistant Professor</h5>
                    <div class="card-text text-black-50">
                        <br />
                        Microbiology & Molecular Biology
                        <br />
                        <a href="https://lifesciences.byu.edu/00000177-4fc5-d44a-ad77-5fe77f810001/evans-cv-pdf">Curriculum Vitae</a>
                        <br />
                    </div>
                </div>
            </div>
        </div>
        <!-- Team Member 3 -->

        
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
