@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<style>
    .mapclass {
        width:60%;
        margin: auto;
    }
</style>

<br />
<h1 class="text-center">Fag El-Gamous Points of Interest</h1>
<br />
<br />
<div class="mapclass">
    <iframe src="https://matthewjenson.h5p.com/content/1291296976316270378/embed" width="1088" height="637" frameborder="0" allowfullscreen="allowfullscreen" allow="geolocation *; microphone *; camera *; midi *; encrypted-media *"></iframe>
    <script src="https://matthewjenson.h5p.com/js/h5p-resizer.js" charset="UTF-8"></script>
</div>
