@{
    ViewData["Title"] = "S3ComingSoon";
}

<divHeader>
    <link href="~/DynamicTable/StyleSheet.css" rel="stylesheet" />
</divHeader>

<br /><br /><br /><br />
<br /><br /><br /><br />
    <div class="container">
        <h2>Upload Bone Book to S3 coming soon!</h2>
        <br />
    </div>
    <div class="text-center"><a asp-action="BoneBook" style="text-align:center">Back to Bone Books</a></div>
