
<link href="~/css/Burial/Index.css" rel="stylesheet" />

<h2 style="text-align:center; margin:2rem; margin-top:4rem;">Privacy Policy</h2>

<div class="col-md-8 offset-md-2">
    <p>
        This page will provide you information about how the owners of the Fag el-Gamous website process and use your personal data. 
        When referring to "us" or "we" we mean the owners of the Fag el-Gamous website, run by affiliates of Brigham Young University.
    </p><br />
    <div>
        <h5>
            1. What personal data do we collect?
        </h5>
        <p>
            We collect personal data that you actively submit to us, including but not limited to your full name, email address, and phone number
        </p>
    </div><br />
    <div>
        <h5>
            2. For what purposes do we process personal data?
        </h5>
        <p>
            We process personal data for role-based authorization in this website. To have access to certain functinality in this website, 
            a user must have appropriate credentials. General users of the website have no reason to set up an account, and will not be 
            authorized to preform any activities other than viewing the content that exists in this website.
        </p>
    </div><br />
    <div>
        <h5>
            3. Where and how do we store personal data?
        </h5>
        <p>
            We store personal data in data centers in the United States, using cloud storage providers. 
            We store your data using current encryption technology to encrypt the data on our log in pages.
        </p>
    </div><br />
    <div>
        <h5>
            4. How can you access your personal data?
        </h5>
        <p>
            Once logged in to your account, navigate to the user menu at the top right of the navigation that says, 
            "Hello [user]." Navigate to the "Personal Data" tab and click the "Download" button to download all of your personal data that we store. 
            If you wish to permanently delete all of the data we store about you, click the "Delete" button.
        </p>
    </div><br />
    <div>
        <h5>Privacy notice for California residents</h5>
        <p>
            Effective April 13, 2021, our privacy policies are composed of all the aforementioned information.
            Note that your browser setting may allow you to automatically transmit a "Do Not Track" signal to websites
            and online services that you visit. Like many websites and online services, the Fag el-Gamous website does 
            not alter its practices when it receives a "Do Not Track" signal from a visitor's browser
        </p>
    </div>
</div>
