.paginationBtn{
    min-width: 45px;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    position: sticky;
    top: -2px;
    color: white;
    background-color: #2a2a2a;
}

.burial-table-columns {
    padding: 5px;
    padding-left: 12px;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.row-count-column {
    width: 50px;
    text-align: center;
}

.burial-table-body {
    font-size: 12px;
}

.filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: ceter;
}

.filter {
    width: 20%;
    line-height: 2;
}

.form-control {
    width: 80%;
}

    .form-control.num {
        width: 30%;
    }

.box {
    display: none;
}

#trigger:checked + .box {
    display: block;
    position: absolute;
    z-index: 1;
    background-color: white;
    box-shadow: 4px 5px 25px 5px rgba(0,0,0,0.33);
    padding: 20px;
    border-radius: 1rem;
}

.filter-buttons {
    margin: auto;
    text-align: center;
}

.hidden {
    position: absolute;
    visibility: hidden;
    opacity: 0;
}

input[type=checkbox] + label {
    color: #ccc;
    font-style: italic;
}

input[type=checkbox]:checked + label {
    color: #f00;
    font-style: normal;
}

