@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!-- Page for users who have insufficient permissions to access the view they selected-->

<br />
<br />
<br />


<div class="text-center">

    <!-- Special web player to show the animated image -->
    <div style="display: block; margin: auto; width: 300px;">
        <lottie-player src="https://assets9.lottiefiles.com/packages/lf20_ttaj1ayc.json" background="transparent" speed="1" style="width: 300px; height: 300px;" autoplay ></lottie-player>
    </div>
    <h1>Insufficient Permissions</h1>
    <p>Unable to view page with current permissions.</p>




    <script src="https://unpkg.com/@@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
</div>
