@model INTEXII_App.Models.BiologicalSample

@{
    ViewData["Title"] = "Edit";
}

<!-- View to edit Biological samples -->

<h1>Edit</h1>

<h4>BiologicalSample</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BiologicalSampleId" />
            <div class="form-group">
                <label asp-for="BurialId" class="control-label"></label>
                <select asp-for="BurialId" class="form-control" asp-items="ViewBag.BurialId"></select>
                <span asp-validation-for="BurialId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SampleRack" class="control-label"></label>
                <input asp-for="SampleRack" class="form-control" />
                <span asp-validation-for="SampleRack" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SampleBag" class="control-label"></label>
                <input asp-for="SampleBag" class="form-control" />
                <span asp-validation-for="SampleBag" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="PreviouslySampled" /> @Html.DisplayNameFor(model => model.PreviouslySampled)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Initials" class="control-label"></label>
                <input asp-for="Initials" class="form-control" />
                <span asp-validation-for="Initials" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
