@model INTEXII_App.Models.Artifact

@{
    ViewData["Title"] = "Delete";
}

<!-- View to delete an artifact, restricted by role -->

<h1>Delete Artifact</h1>

<h3>Are you sure you want to delete this?</h3>
<form asp-action="Delete">
    <input type="hidden" asp-for="ArtifactId" />
    <input type="submit" value="Delete" class="btn btn-danger" />
    <a asp-action="Index" class="btn btn-success">No, Go Back</a>
</form>
<div>
    <br />
    <hr />
    <table class="table table-hover table-striped">
        <th>Details</th>
        <th></th>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Description)</td>
            <td>@Html.DisplayFor(model => model.Description)</td>

        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Burial)</td>
            <td>@Html.DisplayFor(model => model.Burial.BurialId)</td>

        </tr>
    </table>
</div>

<a class="btn btn-primary"
   style="position: fixed; right: 2rem; bottom: 2rem; z-index: 100;"
   asp-controller="Artifact"
   asp-action="Index">Back to List</a>
